@import 'styles/variables'

.container
	.logoandCateg
		display: flex
		align-items: center
		margin: 20px 32px

		img
			width: 3rem

	.movieImg
		width: 100%
		height: 470px
		object-fit: cover
		filter: brightness(60%)
		-webkit-filter: brightness(60%)

	.movieTxt
		position: absolute
		font-size: 3.4rem
		width: 330px
		top: 55%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center

	.threeElement
		margin: 15px 0 30px 0
		display: flex
		justify-content: space-around
		align-items: center
		list-style: none

	.categoryMenu
		position: fixed
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		background: rgba($primary, 0.8)
		z-index: 999
		display: flex
		flex-direction: column
		align-items: center

		.ancre
			margin-bottom: 1rem
			font-weight: 400
			color: $secondary
			font-size: 2rem
			&:first-child
				margin-top: 7rem
			&:last-child
				margin-bottom: 0
