@import 'styles/variables'

.container
	.logoandCateg
		display: flex
		align-items: center
		margin: 20px 32px

		img
			width: 3rem

	.movieImg
		height: 416px
		object-fit: cover
		filter: brightness(60%)
		-webkit-filter: brightness(60%)
		

	.movieTxt
		position: absolute
		font-size: 3.4rem
		width: 330px
		top: 55%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center

	.threeElement
		margin: 15px 0 30px 0
		display: flex
		justify-content: space-around
		align-items: center
		list-style: none

	

