@import 'styles/variables'

.container

    h3
        font-size: 1.8rem


    .movieList__image
        display: flex
        flex-direction: row
        overflow-y: scroll
        .image
            margin: 10px
            height: 190px
