@import 'styles/variables'

::-webkit-scrollbar
  display: none

.container
  margin-bottom: 70px
  width: 100%

  h3
    font-size: 1.8rem
    margin: 16px 28px
    color: $primary-200
    font-weight: 300

  .movieList__image

    overflow: auto

    display: flex

    .link
      display: block
      &:first-child
        .image
          margin-left: 28px
      &:last-child
        .image
          margin-right: 28px
    .image
      max-width: none
      height: 19rem
      margin-right: 16px
