@import 'styles/variables'

.container
    h3
        font-size: 1.8rem
        margin: 16px 0
        color: $primary-200
        font-weight: 300

    .movieList__image
        display: flex
        flex-direction: row
        overflow-y: scroll
        .image
            margin-right: 16px
            height: 190px
