@import 'styles/variables'

.Navbar
  display: flex
  list-style: none
  justify-content: space-between
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: $primary
  padding: 10px 0 5px 0

  .ContaintNav
    margin: 0px 5%
