@import 'styles/variables'

.inputName
    border: none
    border-bottom: 1px solid $primary-200
    background-color: $primary
    color: $secondary
    

    &::placeholder
        color: $primary-200
    