@import 'styles/variables'

.container
  h5
    margin-top: 5rem
    font-family: $error-font
    color: $accent
    font-size: 6rem
    text-align: center

  .txt
    margin: 6rem 2.8rem
    display: flex
    flex-direction: column
    align-items: center
    .question
      text-align: center
      font-family: $font
      font-size: 2.4rem
      font-weight: 600
      color: $secondary
      margin: 10px

    p
      margin-top: 10px
      text-align: left
      font-family: $font
      font-size: 1.8rem

    .button
      margin: 2rem
      align-self: center
      background-color: $secondary
      padding: 10px 15px
      color: $primary
      font-size: $font-size-paragraphe
